<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.premature.floscript" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/flo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".jobs.ui.JobAddEditActivity"
            android:label="FloScript">
        </activity>

        <activity
            android:name=".scripts.ui.collection.ScriptCollectionActivity"
            android:label="FloScript"></activity>

        <service
            android:name=".jobs.JobExecutionService"
            android:exported="false" >
        </service>

        <!-- the bcast receiver starts disabled and gets enabled
         when there are jobs that require it
         these jobs should be wired up to the job creation activity in JobScheduler-->
        <receiver
            android:name=".jobs.EventTriggerReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
